.intro-center-quiz {
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
}

.pictures {
  position: relative;
  max-width: 100%;
  display: block;
  border-radius: 30%;
  filter: drop-shadow(5px 5px 20px #5e5ec2);
  animation: renderIcons 0.3s ease-out;
}
.pictures:hover {
  filter: drop-shadow(5px 5px 30px green);
}
.option-wrap {
  display: inline-block;
  width: 30%;
  margin: 5%;
}

h1 {
  color: white;
  text-shadow: 2px 2px black;
}
.score {
  color: #ffcc33;
  font-size: 2rem;
}
.name {
  margin-top: 1vh;
  font-size: 4rem;
}

@keyframes renderIcons {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* @media (max-width: 1165px) {
  .pictures {
    position: relative;
    margin: 2vh;
    height: 14rem;
    width: auto;
    border-radius: 30%;
    filter: drop-shadow(5px 5px 20px #5e5ec2);
    animation: renderIcons 0.3s ease-out;
  }
}
@media (max-width: 780px) {
  .pictures {
    position: relative;
    margin: 2vh;
    height: 12rem;
    width: auto;
    border-radius: 30%;
    filter: drop-shadow(5px 5px 20px #5e5ec2);
    animation: renderIcons 0.3s ease-out;
  }
  .intro-center-quiz {
    position: relative;
    width: 55vw;
    height: 70vh;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
@media (max-width: 610px) {
  .pictures {
    position: relative;
    margin: 1vh;
    height: 11rem;
    width: auto;
    border-radius: 30%;
    filter: drop-shadow(5px 5px 20px #5e5ec2);
    animation: renderIcons 0.3s ease-out;
  }
  .intro-center-quiz {
    position: relative;
    width: 80vw;
    height: 70vh;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
} */
