* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-weight: 400;
}
body {
  font-family: "Lato", sans-serif;
  padding: 30px;
  color: #777;
}

.main-screen {
  border-radius: 4rem;
  height: 95vh;
  background-image: linear-gradient(to right bottom, #0044ff5e, #aef3edc7),
    url("../../img/\ bg.png");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.intro-center-buttons {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.intro-primary {
  color: #ffffff;
  text-transform: uppercase;

  margin-bottom: 50px;

  /* backface-visibility: hidden;   FIXING SHAKINESS OF ANIMATION*/
}

.spans-main {
  display: block;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
}

/* .quizOptions {
  display: flex;
  background-color: green;
  margin-left: 27vw;
  margin-right: 27vw;
  margin-top: 8vh;
  height: 80vh;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} */
.picture {
  margin: 3vh;
  height: 200px;
  width: auto;
  border-radius: 30%;
  padding: 5px;
  filter: drop-shadow(5px 5px 20px #5e5ec2);
}
.picture:hover {
  filter: drop-shadow(5px 5px 30px green);
}

.quizOptions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

.start-game-button {
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 8rem;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

h1 {
  color: white;
  text-shadow: 2px 2px black;
}
