* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-weight: 400;
}
body {
  font-family: "Lato", sans-serif;
  padding: 30px;
  color: #777;
}

.main-screen-quiz {
  border-radius: 4rem;
  height: 95vh;
  background-image: linear-gradient(to right bottom, #0044ff5e, #aef3edc7),
    url("../../img/\ bg.png");
  /* background-color: yellow; */
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.intro-center-quiz {
  position: relative;
  /* background-color: orange; */
  width: 45vw;
  height: 70vh;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* .quizOptions {
  display: flex;
  background-color: green;
  margin-left: 27vw;
  margin-right: 27vw;
  margin-top: 8vh;
  height: 80vh;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} */
.pictures {
  /* background-color: green; */

  position: relative;
  margin: 2vh;
  height: 20rem;
  width: auto;
  border-radius: 30%;
  filter: drop-shadow(5px 5px 20px #5e5ec2);
  animation: renderIcons 0.3s ease-out;
}
.pictures:hover {
  filter: drop-shadow(5px 5px 30px green);
}

.quizOptions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

h1 {
  color: white;
  text-shadow: 2px 2px black;
}

@keyframes renderIcons {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1165px) {
  .pictures {
    position: relative;
    margin: 2vh;
    height: 14rem;
    width: auto;
    border-radius: 30%;
    filter: drop-shadow(5px 5px 20px #5e5ec2);
    animation: renderIcons 0.3s ease-out;
  }
}
@media (max-width: 780px) {
  .pictures {
    position: relative;
    margin: 2vh;
    height: 12rem;
    width: auto;
    border-radius: 30%;
    filter: drop-shadow(5px 5px 20px #5e5ec2);
    animation: renderIcons 0.3s ease-out;
  }
  .intro-center-quiz {
    position: relative;
    /* background-color: orange; */
    width: 55vw;
    height: 70vh;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
@media (max-width: 610px) {
  .pictures {
    position: relative;
    margin: 1vh;
    height: 11rem;
    width: auto;
    border-radius: 30%;
    filter: drop-shadow(5px 5px 20px #5e5ec2);
    animation: renderIcons 0.3s ease-out;
  }
  .intro-center-quiz {
    position: relative;
    /* background-color: orange; */
    width: 80vw;
    height: 70vh;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
