* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-weight: 400;
}
body {
  font-family: "Lato", sans-serif;
  padding: 30px;
  color: #777;
}

.main-screen {
  border-radius: 4rem;
  height: 95vh;
  background-image: linear-gradient(to right bottom, #0044ff5e, #aef3edc7),
    url("../../img/\ bg.png");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.intro-center-buttons {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.intro-primary {
  color: #ffffff;
  text-transform: uppercase;

  margin-bottom: 50px;

  /* backface-visibility: hidden;   FIXING SHAKINESS OF ANIMATION*/
}

.spans-main {
  display: block;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 8rem;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: white;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateX(100px);
    color: black;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.btn-animated {
  animation: moveInButton 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
